@page "/"

<PageTitle>Kirisame Marisa</PageTitle>

<h1>霧雨　魔理沙!</h1>




<div class="content">
    <section>
        <h2>Introduction to Marisa Kirisame</h2>
        <p>Marisa Kirisame (霧雨　魔理沙 Kirisame Marisa) is an ordinary human magician who specializes in light and heat magic and currently resides in the Forest of Magic. She is considered to be the deuteragonist of the Touhou Project series along with the main protagonist, Reimu Hakurei.</p>
    </section>

    <section>
        <h2>Personality Traits</h2>
        <p>Outwardly, Marisa is an outgoing and informal person. Hieda no Akyuu states that her personality is condescending, but she has a sophisticated side to her that tends to be interesting. She socializes with many inhabitants of Gensokyo and is friendly to both human and non-humans individuals.</p>
    </section>

    <section>
        <h2>Past Behaviors</h2>
        <p>In the past, Marisa was known to be a habitual liar, such as when she claimed to be Reimu Hakurei to avoid being troubled by Flandre Scarlet or when she blamed various crimes on Alice Margatroid to get Reimu out of the way. When Reimu summoned birds that she claimed to be celestial’s familiars, they started biting Marisa because “they gather around people who tell lies.” She even got judged by Eiki Shiki, Yamaxanadu for it, saying that if she was her judge at that moment Marisa would be punished for lying with her tongue being removed - an event that led her being more honest for some time.</p>
    </section>

    <section>
        <h2>Hobbies and Habits</h2>
        <p>She has a mania for collecting things and exhibits knowledge of various valuable and/or magical objects around Gensokyo. She has been frequently seen foraging (or looting) in many places for various materials, be it mushrooms, parts of a dragon, or just whatever she thinks looks interesting at the time. That said, her hoarding habit does result in her not knowing or forgetting what objects are in her house.</p>
    </section>

    <section>
        <h2>Work Ethic and Ambition</h2>
        <p>Though she goes to great lengths to hide it, Marisa is a hardworking individual who frequently seeks to better herself and seeks to be known as a great magician. She takes pride in her magic and youkai extermination capabilities, claiming to be "the number two in Gensokyo".</p>
    </section>

    <section>
        <h2>Relationship with Reimu Hakurei</h2>
        <p>In many cases, she is the one who would push Reimu to investigate potential incidents. Doremy Sweet states that Marisa's Dream World self, a manifestation and exaggeration of her real personality, is always performing superhuman acts, leading her to wonder if perhaps Marisa is captivated by youkai.</p>
    </section>

    <section>
        <h2>Insights from ZUN</h2>
        <p>ZUN writes Marisa as straightforward and much easier to understand than other characters, typically filling the support role. She also serves as a contrast to Reimu, who's blessed with innate abilities, by being the hard-working type of character without any special powers. ZUN has said that this makes her a rather "un-Touhou-like" character, but also gives him much more leeway in creating a story. ZUN even affirmed that Marisa serves as an audience surrogate of sorts, and helps them by asking questions.</p>
    </section>
</div>